.settings-page {
	height: 100%;
}
* {color: #555; }
p {margin: 0;}
.nav {
	width: 12%;
	height: 100%;
	float: left;
	background-color: #dcdcdc;
	border-right: 1px solid #b5b5b5;
	border-top: 1px solid #b5b5b5;
	overflow-y: auto;
}
.nav li {
	padding: 15px 0 15px 15px;
	border-bottom: 1px solid #b5b5b5;
	cursor: pointer;
}
.nav li.active {
	border-left: 3px solid #FE8B46;
	background-color: #fff;
	padding-left: 12px;
}
.content {
	width: 88%;
	height: 100%;
	float: left;
}
.content>.row {
	box-sizing: border-box;
	height: 100%;
	padding: 20px 20px 0;
	overflow-y: auto;
}

.box {
	height: 100%;
	background-color: #EFEFEF;
}
.switch div {
	width: 100%;
	float: left;
	padding: 20px;
}
.switch span {
	width: 100px;
	line-height: 30px;
	float: left;
}
.switch i {
	display: block;
	width: 71px;
	height: 30px;
	float: left;
	margin-left: 10px;
	background-size: 100%;
	background-image: url(../../../assets/img/order/off.png);
	cursor: pointer;
}
.switch i.active {
	background-image: url(../../../assets/img/order/on.png);
}
.form {
	padding-top: 50px;
}
.form div {
	width: 100%;
	padding: 20px;
	text-align: center;
}
.form em {
	display: inline-block;
	width: 58px;
}
.form input {
	padding: 0 10px;
}
.form button {
	width: 120px;
	height: 35px;
	line-height: 35px;
	margin: 0 auto;
	border: none;
	border-radius: 5px;
}