<div class="fixed-page">
  <app-page-header
    [title]="title"
    [url]="'/home/project-list'"
  ></app-page-header>

  <div class="form-page">
    <div class="page">
      <div *ngIf="project" class="project">

        <div *ngIf="project.times && !isDetails" class="form-group reject">
          <label>驳回原因：</label>
          <input disabled class="form-control" [value]="project.description" type="text" />
        </div>

        <ng-container *ngIf="formKeys">
          <div class="form-group" *ngFor="let group of formKeys.groups;">
            <label>{{ group.name }}：</label>
            <input disabled class="form-control" [value]="project[group.key]" type="text" />
          </div>

          <div class="form-group" *ngFor="let file of formKeys.files;">
            <label>{{ file.name }}：</label>
            <div class="form-control-none">
              <a target="_blank" href="{{ project[file.key] }}">
                点击下载
                <i class="fa fa-download" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </ng-container>



        <div *ngIf="procedureIndex > 1">
          <app-user-select
            [canEditUser]="false"
            [editForm]="project"
            [key]="'author'"
            [text]="'报告编制'"
          ></app-user-select>
        </div>

        <div *ngIf="procedureIndex > 2">
          <app-user-select
            [canEditUser]="false"
            [editForm]="project"
            [key]="'checker'"
            [text]="'报告审核'"
          ></app-user-select>
        </div>

        <div *ngIf="procedureIndex > 3">
          <app-user-select
            [canEditUser]="false"
            [editForm]="project"
            [key]="'leader'"
            [text]="'报告批准'"
          ></app-user-select>
        </div>

      </div>
    </div>
  </div>

  <ng-container *ngIf="!isDetails && procedureIndex">
    <app-approval-options
      [procedureIndex]="procedureIndex"
      [queryParams]="queryParams"
    ></app-approval-options>
  </ng-container>
</div>
