<div class="fixed-page">
  <app-page-header
    [title]="'试验报告详情'"
    [url]="'/home/project-list'"
  ></app-page-header>

  <div class="form-page">
    <div class="page">
      <div *ngIf="project" class="project">

        <div *ngIf="project.times && !isDetails" class="form-group reject">
          <!--<h5 class="text-center">第{{project.times}}次驳回</h5>-->
          <label>驳回原因：</label>
          <input disabled class="form-control" [value]="project.description" type="text" />
        </div>

        <div class="form-group">
          <label>报告名称：</label>
          <input disabled class="form-control" [value]="project.name" type="text" />
        </div>

        <div class="form-group">
          <label>报告编号：</label>
          <input disabled class="form-control" [value]="project.rp_number" type="text" />
        </div>

        <div class="form-group">
          <label>日期：</label>
          <input disabled class="form-control" [value]="project.time" type="text" />
        </div>

        <div class="form-group">
          <label>报告文件：</label>
          <div class="form-control-none">
            <a target="_blank" href="{{ project.report_name }}">
              点击下载
              <i class="fa fa-download" aria-hidden="true"></i>
            </a>
          </div>
        </div>

        <div *ngIf="procedureIndex > 1">
          <app-user-select
            [canEditUser]="false"
            [editForm]="project"
            [key]="'author'"
            [text]="'报告编制'"
          ></app-user-select>
        </div>

        <div *ngIf="procedureIndex > 2">
          <app-user-select
            [canEditUser]="false"
            [editForm]="project"
            [key]="'checker'"
            [text]="'报告审核'"
          ></app-user-select>
        </div>

        <div *ngIf="procedureIndex > 3">
          <app-user-select
            [canEditUser]="false"
            [editForm]="project"
            [key]="'leader'"
            [text]="'报告批准'"
          ></app-user-select>
        </div>

      </div>
    </div>
  </div>

  <ng-container *ngIf="!isDetails && procedureIndex">
    <div class="options_top_null"></div>
    <div class="options" *ngIf="procedureIndex != 1">
      <div class="confirm" (click)="options(true)">同意</div>
      <div class="refuse"  (click)="options(false)">拒绝</div>
    </div>
    <div class="options" *ngIf="procedureIndex == 1">
      <div class="confirm allWidth" (click)="options(true)">提交</div>
    </div>
  </ng-container>
</div>
