<div class="fixed-page">
  <app-page-header
    [title]="'选择用户'"
    [url]="'/home/department'"
    [queryParams]="queryParams"
  ></app-page-header>

  <div>
    <div class="user_list">
      <ul>
        <ng-container *ngFor="let user of users;let index = index;">
          <li (click)="selected(index)" [class.active]="indexs[index]">
            <i></i>
            <img src="{{ user.avatar }}">
            <span>{{ user.name }}</span>
            <span class="remake"></span>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>

  <div class="options_top_null"></div>
  <div class="options">
    <div class="confirm" (click)="options(true)">确定</div>
    <div class="cancel"  (click)="options(false)">取消</div>
  </div>

</div>
