.statistics-page {
	height: 100%;
}
* {color: #555; }
p {margin: 0;}
.nav {
	width: 12%;
	height: 100%;
	float: left;
	background-color: #dcdcdc;
	border-right: 1px solid #b5b5b5;
	border-top: 1px solid #b5b5b5;
	overflow-y: auto;
}
.nav li {
	padding: 15px 0 15px 15px;
	border-bottom: 1px solid #b5b5b5;
	cursor: pointer;
}
.nav li.active {
	border-left: 3px solid #FE8B46;
	background-color: #fff;
	padding-left: 12px;
}

.table-page {
	height: 100%;
	overflow-y: auto;
}

.head {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
.head em {
  height: 30px;
  line-height: 30px;
  float: left;
  margin-top: 10px;
  margin-left: 15px;
}
.head span {
	display: block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  float: left;
  margin-top: 10px;
  margin-left: 15px;
  background-color: #c2c2c2;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-align: center;
}
.head span.active {
	background-color: #FE8B46;
}

.search {
	margin-top: 20px;
	text-align: center;
}
.search input {
	margin: 0 15px;
}
.search span {
	display: inline-flex;
}
.search em {
	display: inline-flex;
	height: 30px;
	line-height: 30px;
	padding: 0 30px;
	margin-top: 5px;
	border-radius: 5px;
}

.table_box {
	padding: 20px;
}
.table_box tr:nth-child(odd) {
	background-color: rgb(245,245,245);
}
.table_box tr .price {
	color: #FE8B46;
}
