<div class="fixed-page">
  <app-page-header
    [title]="'合同详情'"
    [url]="'/home/project-list'"
  ></app-page-header>

  <div class="form-page">
    <div class="page">
      <div *ngIf="project" class="project">

        <div *ngIf="project.times && !isDetails" class="form-group reject">
          <!--<h5 class="text-center">第{{project.times}}次驳回</h5>-->
          <label>驳回原因：</label>
          <input disabled class="form-control" [value]="project.description" type="text" />
        </div>

        <div class="form-group">
          <label>工程名称：</label>
          <input disabled class="form-control" [value]="project.project_name" type="text" />
        </div>

        <div class="form-group">
          <label>合同编号：</label>
          <input disabled class="form-control" [value]="project.contract_num" type="text" />
        </div>

        <div class="form-group">
          <label>甲方名称：</label>
          <input disabled class="form-control" [value]="project.party_a" type="text" />
        </div>

        <div class="form-group">
          <label>签订日期：</label>
          <input disabled class="form-control" [value]="project.sign_date" type="text" />
        </div>

        <div class="form-group">
          <label>工期：</label>
          <input disabled class="form-control" [value]="project.limit_time" type="text" />
        </div>

        <div class="form-group">
          <label>预计完成时间：</label>
          <input disabled class="form-control" [value]="project.finish_time" type="text" />
        </div>

        <div class="form-group">
          <label>要求进场时间：</label>
          <input disabled class="form-control" [value]="project.entry_time" type="text" />
        </div>

        <div class="form-group">
          <label>合同金额：</label>
          <input disabled class="form-control" [value]="project.contract_amount" type="text" />
        </div>

        <div class="form-group">
          <label>合同状态：</label>
          <input disabled class="form-control" [value]="project.status" type="text" />
        </div>

        <div class="form-group">
          <label>负责部门：</label>
          <input disabled class="form-control" [value]="project.dp_id" type="text" />
        </div>

        <div class="form-group">
          <label>负责人：</label>
          <input disabled class="form-control" [value]="project.people" type="text" />
        </div>

        <div class="form-group">
          <label>合同类型：</label>
          <input disabled class="form-control" [value]="project.contract_type" type="text" />
        </div>

        <div class="form-group">
          <label>合同文件：</label>
          <div class="form-control-none">
            <a href="{{ project.contract_files }}">
              点击下载
              <i class="fa fa-download" aria-hidden="true"></i>
            </a>
          </div>
        </div>

        <div *ngIf="procedureIndex > 1">
          <app-user-select
            [canEditUser]="false"
            [editForm]="project"
            [key]="'author'"
            [text]="'生产经营部新建'"
          ></app-user-select>
        </div>

        <div *ngIf="procedureIndex > 2">
          <app-user-select
            [canEditUser]="false"
            [editForm]="project"
            [key]="'checker'"
            [text]="'生产经营部合同核查'"
          ></app-user-select>

          <div class="optional_box" *ngIf="project.checker_optional">
            <span>可选项：(实心圆点为是,空蓝色圈为否)</span>
            <ul class="optional">
              <li>
                <i [class.active]="project.checker_optional[1].op1"></i>
                1．我方与委托方的权利与义务是否明确？<br/>
                <input disabled [value]="project.checker_optional[1].text1" />
              </li>
              <li>
                <i [class.active]="project.checker_optional[2].op2"></i>
                2．合同条款、格式是否符合要求？
              </li>
              <li>
                <i [class.active]="project.checker_optional[3].op3"></i>
                3．检验检测单价是否符合有关规定？
              </li>
              <li>
                <i [class.active]="project.checker_optional[4].op4"></i>
                4．付款方式是否合理？
              </li>
              <li>
                5．其他:<input disabled [value]="project.checker_optional[5].text5" />
              </li>
            </ul>
          </div>
        </div>

        <div *ngIf="procedureIndex > 3">
          <app-user-select
            [canEditUser]="false"
            [editForm]="project"
            [key]="'for_instance'"
            [text]="'检测部门经理详审'"
          ></app-user-select>

          <div class="optional_box" *ngIf="project.for_optional">
            <span>可选项：(实心圆点为是,空蓝色圈为否)</span>
            <ul class="optional">
              <li>
                <i [class.active]="project.for_optional[1].op1"></i>
                1．委托方的技术要求是否明确？<br/>
                <input disabled [value]="project.for_optional[1].text1" />
              </li>
              <li>
                <i [class.active]="project.for_optional[2].op2"></i>
                2．委托方的技术要求是否符合有关规范、规定？<br/>
                <input disabled [value]="project.for_optional[2].text2" />
              </li>
              <li>
                <i [class.active]="project.for_optional[3].op3"></i>
                3．现有检验检测能力是否满足该项目的要求？及需采取的措施。<br/>
                <input disabled [value]="project.for_optional[3].text3" />
              </li>
              <li>
                <i [class.active]="project.for_optional[4].op4"></i>
                4．能否按合同要求及时进场、按时完成？<br/>
                <input disabled [value]="project.for_optional[4].text4" />
              </li>
              <li>
                <i [class.active]="project.for_optional[5].op5"></i>
                5．是否需要分包？<br/>
                分包合同编号：<br/>
                <input disabled [value]="project.for_optional[5].text5" />
              </li>
              <li>
                6．其他:<input disabled [value]="project.for_optional[6].text6" />
              </li>
            </ul>
          </div>
        </div>

        <div *ngIf="procedureIndex > 4">
          <app-user-select
            [canEditUser]="false"
            [editForm]="project"
            [key]="'manage_instance'"
            [text]="'副总经理详审核'"
          ></app-user-select>
        </div>

        <div *ngIf="procedureIndex > 5">
          <app-user-select
            [canEditUser]="false"
            [editForm]="project"
            [key]="'examine'"
            [text]="'总经理审核'"
          ></app-user-select>
        </div>

        <div *ngIf="procedureIndex > 6">
          <app-user-select
            [canEditUser]="false"
            [editForm]="project"
            [key]="'leader'"
            [text]="'董事长批准'"
          ></app-user-select>
        </div>

      </div>
    </div>
  </div>

  <ng-container *ngIf="!isDetails && procedureIndex">
    <div class="options_top_null"></div>
    <div class="options" *ngIf="procedureIndex != 1">
      <div class="confirm" (click)="options(true)">同意</div>
      <div class="refuse"  (click)="options(false)">拒绝</div>
    </div>
    <div class="options" *ngIf="procedureIndex == 1">
      <div class="confirm allWidth" (click)="options(true)">提交</div>
    </div>
  </ng-container>
</div>
