<app-page-header
  [title]="'发起任务'"
  [url]="'/home/select-workflow-type'"
  ></app-page-header>

<div class="page">

  <div class="project" *ngIf="Form">
    <form [formGroup]="Form" novalidate (ngSubmit)="submit(Form)">
      <div class="form-group">
        <label>选择{{ getTypeName(type) }}：</label>
        <select class="fileId form-control" formControlName="case_id">
          <option *ngFor="let file of files" [value]="file.id">{{ file.project_name }}</option>
        </select>
      </div>

      <div *ngIf="getTypeName(type) == '项目'">
        <app-user-select
          [canMultiselect]="true"
          [editForm]="getFormValue(Form)"
          [editFormName]="'workflowForm'"
          [text]="'部门负责人'"
          [key]="'person_in_charge'"
          [url]="'/home/create-workflow'"
          [queryParams]="queryParams"
        ></app-user-select>

        <app-user-select
          [canMultiselect]="true"
          [editForm]="getFormValue(Form)"
          [editFormName]="'workflowForm'"
          [text]="'总(副总)经理'"
          [key]="'manager'"
          [url]="'/home/create-workflow'"
          [queryParams]="queryParams"
        ></app-user-select>
      </div>

      <div *ngIf="getTypeName(type) != '项目'">
        <app-user-select
          [canMultiselect]="true"
          [editForm]="getFormValue(Form)"
          [editFormName]="'workflowForm'"
          [text]="'检测人员'"
          [key]="'testing_person'"
          [url]="'/home/create-workflow'"
          [queryParams]="queryParams"
        ></app-user-select>

        <app-user-select
          [canMultiselect]="true"
          [editForm]="getFormValue(Form)"
          [editFormName]="'workflowForm'"
          [text]="'校核人员'"
          [key]="'verifying_person'"
          [url]="'/home/create-workflow'"
          [queryParams]="queryParams"
        ></app-user-select>
      </div>

      <div class="text-center">
        <input class="confirm-btn" type="submit">
      </div>

    </form>
  </div>
</div>
