<app-page-header
  [title]="'发起任务'"
  [url]="'/home/select-workflow-type'"
  ></app-page-header>

<div class="page">

  <div class="project" *ngIf="Form">
    <form [formGroup]="Form" novalidate (ngSubmit)="submit(Form)">
      <div class="form-group">
        <label>选择{{ getTypeName(type) }}：</label>
        <select class="fileId form-control" formControlName="file_id">
          <option *ngFor="let file of files" [value]="file.id">{{ file.project_name }}</option>
        </select>
      </div>

      <ng-container *ngIf="type == 1">
        <div class="form-group">
          <label>文件上传：</label>
          <div class="form-control file_box">
            <div class="file">
              <input type="file" id="upfile" (change)="fileChange()"/>
            </div>
            <span><small>{{ fileName || '(请先选择报告与相关人员)' }}</small></span>
          </div>
        </div>

        <ng-container *ngIf="fileName">
          <div class="form-group">
            <label>报告页数：</label>
            <input formControlName="page" type="text" class="form-control input" placeholder="请输入报告页数" />
          </div>

          <div class="form-group">
            <label>提交报告时间：</label>
            <input id="time" data-options='{"type": "date"}' placeholder="请选择时间" readonly
                   formControlName="time" type="text" class="form-control dateTime" />
          </div>
        </ng-container>
      </ng-container>

      <div>
        <app-user-select
          [canMultiselect]="true"
          [editForm]="getFormValue(Form)"
          [editFormName]="'workflowForm'"
          [text]="'检测人员'"
          [key]="'makers'"
          [url]="'/home/create-workflow'"
          [queryParams]="queryParams"
        ></app-user-select>

        <app-user-select
          [canMultiselect]="false"
          [editForm]="getFormValue(Form)"
          [editFormName]="'workflowForm'"
          [text]="'校核人员'"
          [key]="'leader'"
          [url]="'/home/create-workflow'"
          [queryParams]="queryParams"
        ></app-user-select>
      </div>

      <div class="text-center">
        <input class="confirm-btn" type="submit">
      </div>

    </form>
  </div>
</div>
