<div class="page">
  <div>
    <h4>同意</h4>
  </div>
  <div class="">
    <label>意见说明:</label>
    <input type="text" [(ngModel)]="remake" />
  </div>

  <div id="signature" style="height: 100%;"></div>
  <div class="text-center">
    <button class="btn btn-success" (click)="jSignature()">
      签名确认</button>
    <button class="btn btn-danger" (click)="jSignatureReset()">
      重置</button>
  </div>

  <div id="image" style="margin: 20px">
  </div>
  <div id="img_src">
    <img src="{{image_src}}">
  </div>

  <div class="text-center">
    <button class="btn btn-primary" (click)="submit()">提交</button>
  </div>
</div>
