.content {
  padding: 0 3rem;
}
.content div {
  width: 50%;
  float: left;
}
.content span {
  display: block;
  width: 6rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin: 2rem auto 0;
  border-radius: 0.5rem;
  border: 1px solid #298eff;
  color: #298eff;
  font-size: 0.9rem;
  text-align: center;
}
