<div class="fixed-page">
  <app-page-header
    [title]="'个人信息'"
    ></app-page-header>

  <div class="top">
    <div class="avatar">
      <img src="{{ user.avatar }}">
    </div>
    <p>{{ user.username }}</p>
  </div>

  <div class="content">
    <ul>
      <li routerLink="/home/edit-name">
        <div class="icon">
          <i class="name"></i>
        </div>
        <span>昵称</span>
        <div class="text">
          <span>{{ user.name }}</span>
          <i></i>
        </div>
      </li>

      <li routerLink="/home/edit-password">
        <div class="icon">
          <i class="password"></i>
        </div>
        <span>密码</span>
        <div class="text">
          <i></i>
        </div>
      </li>

      <li>
        <div class="icon">
          <i class="department"></i>
        </div>
        <span>部门</span>
        <div class="text">
          <span>质检部</span>
        </div>
      </li>

      <li>
        <div class="icon">
          <i class="signature"></i>
        </div>
        <span>签名</span>
        <div class="signature_img" (click)="showSignature()">
          <img src="{{ user.sign_img }}">
        </div>
      </li>
    </ul>
    <div class="logout" (click)="logout()">退出登录</div>
  </div>
</div>
<div class="signature-box" *ngIf="isShowSignature" (click)="showSignature()">
  <div class="img">
    <img src="{{ user.sign_img }}">
  </div>
</div>
