<div class="fixed-page">
  <h4 class="text-center">个人信息</h4>
  <div class="top">
    <div class="avatar">
      <img src="{{ user.avatar }}">
    </div>
    <p>{{ user.username }}</p>
  </div>

  <div class="content">
    <ul>
      <li>
        <div class="icon">
          <i class="name"></i>
        </div>
        <span>昵称</span>
        <div class="text">
          <span>昵称</span>
          <i></i>
        </div>
      </li>

      <li>
        <div class="icon">
          <i class="password"></i>
        </div>
        <span>密码</span>
        <div class="text">
          <i></i>
        </div>
      </li>

      <li>
        <div class="icon">
          <i class="department"></i>
        </div>
        <span>部门</span>
        <div class="text">
          <span>质检部</span>
        </div>
      </li>

      <li>
        <div class="icon">
          <i class="signature"></i>
        </div>
        <span>签名</span>
        <div class="signature_img" (click)="showSignature()">
          <img src="{{ user.sign_img || '/assets/images/user/sign_test.png' }}">
        </div>
      </li>
    </ul>
    <div class="logout" (click)="logout()">退出登录</div>
  </div>
</div>
<div class="signature-box" *ngIf="isShowSignature" (click)="showSignature()">
  <div class="img">
    <img src="{{ user.sign_img || '/assets/images/user/sign_test.png' }}">
  </div>
</div>
<!--<div class="page">-->

  <!--<a routerLink="/home">home</a>-->

  <!--<div class="project" *ngIf="Form">-->
    <!--<form [formGroup]="Form" novalidate (ngSubmit)="submit(Form)">-->
      <!--<div class="form-group">-->
        <!--<label>用户名：</label>-->
        <!--<input [class.invalid]="isSubmit && Form.get('username').invalid"-->
               <!--formControlName="username" type="text" class="form-control" placeholder="请输入用户名" />-->
      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<label>昵称：</label>-->
        <!--<input [class.invalid]="isSubmit && Form.get('name').invalid"-->
               <!--formControlName="name" type="text" class="form-control" placeholder="请输入用户昵称" />-->
      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<label>所属部门：</label>-->
        <!--<input [class.invalid]="isSubmit && Form.get('dp_id').invalid"-->
               <!--formControlName="dp_id" type="text" class="form-control" placeholder="请输入所属部门" />-->
      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<label>头像：</label>-->
        <!--<div class="avatar">-->
          <!--<img src="{{ Form.get('avatar').value }}">-->
        <!--</div>-->
      <!--</div>-->


      <!--<div class="text-center btns">-->
        <!--<input class="btn btn-primary" type="submit">-->
      <!--</div>-->
    <!--</form>-->
  <!--</div>-->
<!--</div>-->
