<h4 class="text-center">创建工程</h4>
<div class="page">

  <a routerLink="sign">sign</a>
  <a routerLink="projects">projects</a>

  <div class="project" *ngIf="projectForm">
    <form [formGroup]="projectForm" novalidate (ngSubmit)="submit(projectForm)">
      <div class="form-group">
        <label>工程名称：</label>
        <input [class.invalid]="isSubmit && projectForm.get('name').invalid"
               formControlName="name" type="text" class="form-control" placeholder="请输入工程名称" />
      </div>

      <div class="form-group">
        <label>工程地点：</label>
        <input [class.invalid]="isSubmit && projectForm.get('place').invalid"
               formControlName="place" type="text" class="form-control" placeholder="请输入工程地点" />
      </div>

      <div class="form-group">
        <label>联系人：</label>
        <input [class.invalid]="isSubmit && projectForm.get('contacts').invalid"
               formControlName="contacts" type="text" class="form-control" placeholder="请输入联系人名称" />
      </div>

      <div class="form-group">
        <label>电话：</label>
        <input [class.invalid]="isSubmit && projectForm.get('telephone').invalid"
               formControlName="telephone" name="telephone" type="number" class="form-control" placeholder="请输入联系电话" />
      </div>

      <div class="form-group">
        <label>合同编号：</label>
        <input [class.invalid]="isSubmit && projectForm.get('contract_number').invalid"
               formControlName="contract_number" type="text" class="form-control" placeholder="请输入项目编号" />
      </div>

      <div class="form-group">
        <label>委托单位：</label>
        <input [class.invalid]="isSubmit && projectForm.get('entrustment_unit').invalid"
               formControlName="entrustment_unit" type="text" class="form-control" placeholder="请输入委托单位名称" />
      </div>

      <div class="form-group">
        <label>委托编号：</label>
        <input [class.invalid]="isSubmit && projectForm.get('entrustment_number').invalid"
               formControlName="entrustment_number" type="text" class="form-control" placeholder="请输入委托编号" />
      </div>

      <div class="form-group">
        <label>委托项目：</label>
        <input [class.invalid]="isSubmit && projectForm.get('entrustment_project').invalid"
               formControlName="entrustment_project" type="text" class="form-control" placeholder="请输入委托项目名称" />
      </div>

      <div class="form-group">
        <label>检测要求和依据：</label>
        <input [class.invalid]="isSubmit && projectForm.get('testing_requirements').invalid"
               formControlName="testing_requirements" type="text" class="form-control" placeholder="请输入检测要求和依据" />
      </div>

      <div class="form-group">
        <label>委托方提供的资料：</label>
        <input [class.invalid]="isSubmit && projectForm.get('information_of_the_client').invalid"
               formControlName="information_of_the_client" type="text" class="form-control" placeholder="请输入委托方提供资料" />
      </div>

      <div class="form-group">
        <label>编制人:</label>
        <select class="form-control" formControlName="author">
          <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
        </select>
      </div>

      <div class="form-group">
        <label>校核人:</label>
        <select class="form-control" formControlName="checker">
          <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
        </select>
      </div>

      <div class="form-group">
        <label>审核人:</label>
        <select class="form-control" formControlName="examine">
          <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
        </select>
      </div>

      <div class="form-group">
        <label>批准人:</label>
        <select class="form-control" formControlName="leader">
          <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
        </select>
      </div>

      <div class="text-center">
        <input type="submit" class="btn btn-success">
        <input type="button" value="清空" class="btn btn-danger" (click)="revert()" />
      </div>

      <div class="form-group">
        <label>编制人:</label>
        <div class="user">
          <p>(点击按钮选择)</p>
          <img class="user_picture" src="/assets/images/14940_100.png" />
          <i class="select"></i>
        </div>
      </div>
    </form>
  </div>
</div>
