.project form input.invalid {
  border: 1px solid #ec7373;
}
.project form input.ng-valid {
  border: 1px solid #549c3a;
}
.project .form-group {
  float: right;
}
.project .form-group label {
  margin-top: 0.35rem;
  padding-right: 0.3rem;
}
.project .form-control {
  width: 17rem;
  float: right;
}

/*.user {*/
  /*width: 17rem;*/
  /*float: right;*/
  /*margin-top: 0.35rem;*/
/*}*/
/*.user i, .user img {*/
  /*display: block;*/
  /*width: 2.5rem;*/
  /*height: 2.5rem;*/
  /*float: left;*/
  /*margin-right: 1rem;*/
  /*background-size: 100%;*/
/*}*/
/*.user i.select {*/
 /*background-image: url(../../../assets/images/add_icon.png);*/
/*}*/
/*.user img.user_picture {*/
  /*border-radius: 100%;*/
/*}*/
