.project form {
  display: inline-block;
}
.project form input.invalid {
  border: 1px solid #ec7373;
}
.project form .input.ng-valid {
  border: 1px solid #549c3a;
}
.project .form-group {
  float: right;
}
.form-group label {
  margin-top: 0.5rem;
}
.project .form-control {
  width: 15rem;
  float: right;
}
.btns {
  width: 100%;
  float: left;
}
input.form-control {
  margin-bottom: 0;
}
