<div class="table-page slimscroll">
	<div class="head">
		<div>
			<em>快速搜索</em>
			<span [class.active]="condition==1" (click)="search(null, 'yesterday');condition=1">昨天</span>
			<span [class.active]="condition==2" (click)="search(null, 'this week');condition=2">本周</span>
			<span [class.active]="condition==3" (click)="search(null, 'this month');condition=3">本月</span>
		</div>
	</div>
	
	<div class="search">
		<input type="date" name="start_time" [(ngModel)]="start_time"/>
		<span>到</span>
		<input type="date" name="end_time" [(ngModel)]="end_time"/>
		<em class="m-btn" (click)="search(start_time, end_time)">搜索</em>
	</div>
	
	<div class="table_box">
		<table class="table table-bordered text-center">
	  	<tr>
	  		<th class="text-center">#</th>
	  		<th class="text-center">支付方式</th>
	  		<th class="text-center">交易单数</th>
	  		<th class="text-center">营业额</th>
	  		<th class="text-center">商家优惠</th>
	  		<th class="text-center">退款金额</th>
	  		<th class="text-center">实收金额</th>
	  		<th class="text-center">实收金额占比</th>
	  	</tr>
	  	<ng-container *ngFor="let data of datas;let index=index">
		  	<tr class="">
		  		<td>{{index + 1}}</td>
		  		<td *ngIf="index==0">现金支付</td>
		  		<td *ngIf="index==1">支付宝支付</td>
		  		<td *ngIf="index==2">微信支付</td>
		  		<td *ngIf="data.num==0">0</td>
		  		<td class="color" *ngIf="data.num!=0">{{data.num}}</td>		  				  		
		  		<td *ngIf="data.total_amount==0">￥0</td>
		  		<td *ngIf="data.total_amount!=0" class="color">￥{{data.total_amount}}</td>
		  		
		  		<td>￥{{data.discountPrice}}</td>
		  		
		  		<td>￥{{data.refund_sum}}</td>		  		
		  		<td *ngIf="data.receipt_amount==0">￥0</td>
		  		<td *ngIf="data.receipt_amount!=0" class="color">￥{{data.receipt_amount}}</td>	  		
		  		<td *ngIf="total==0">100%</td>
		  		<td *ngIf="total!=0">{{(data.receipt_amount/total*100).toFixed(2)}}%</td>
		  	</tr>
			</ng-container>
		</table>
	</div>
	
</div>