<div class="table-page">
	<div class="nav">
		<ul>
      <li class="active">全部餐桌</li>
    </ul>
	</div>
	<div class="content">
		<div class="row">
			<div class="col-xs-8 col-md-9 menu_list">
				<div class="operation row">
					<div class="col-xs-4 col-md-3">
						<div class="t">
							<i class="t0"></i>
							<span>空闲</span>
						</div>
					</div>
					<div class="col-xs-4 col-md-3">
						<div class="t">
							<i class="t1"></i>
							<span>已开台</span>
						</div>
					</div>
					<div class="col-xs-4 col-md-3">
						<div class="t">
							<i class="t2"></i>
							<span>已下单</span>
						</div>
					</div>
					<div class="col-xs-4 col-md-3">
						<div class="t">
							<i class="t3"></i>
							<span>已结账</span>
						</div>
					</div>
				</div>
				<div class="menu_box">
					<div id="sell_out" class="row menu slimscroll" *ngIf="desk">
						<ng-container *ngFor="let data of desk;let index=index">
							<div class="col-xs-4 col-md-3 col-lg-2 shop">
								<div class="shop_box {{'table'+data.status}}" (click)="select(data)">
									<div class="img">
										<i></i>
									</div>
									<p>{{data.table_name}}</p>
									<p>{{data.people || '0'}}人/{{data.max}}人桌</p>
									<p>{{data.table_type}}</p>
									<div class="select" *ngIf="select_desk.table_id==data.table_id">
										<i *ngIf="!isMove"></i>
										<i class="move" *ngIf="isMove"></i>
									</div>
								</div>
							</div>
						</ng-container>
					</div>
				</div>
			</div>
			<!--menu_list end-->
			<div class="col-xs-4 col-md-3 order_list">
				<div>
					<span *ngIf="select_desk.status<=1 || select_desk.status==3">订单详情</span>
					<span class="isTrue" *ngIf="select_desk.status>1 && select_desk.status!=3" (click)="details()">订单详情</span>
				</div>
				<div>
					<em *ngIf="select_desk.status<=0">移台</em>
					<em *ngIf="select_desk.status<=0">清台</em>
					<em class="isTrue" *ngIf="select_desk.status>0" (click)="move()">移台</em>
					<em class="isTrue" *ngIf="select_desk.status>0" (click)="clear('清台')">清台</em>
				</div>
				<div>
					<em *ngIf="select_desk.status!=2">修改人数</em>
					<em *ngIf="select_desk.status!=1">点单</em>
					<em class="isTrue" *ngIf="select_desk.status==2" (click)="open()">修改人数</em>
					<em class="isTrue" *ngIf="select_desk.status==1" routerLink="/home/shop/{{select_desk.table_id +'#'+ select_desk.people}}">点单</em>
				</div>
				<div>
					<em *ngIf="select_desk.status!=2 && select_desk.status!=3">加菜</em>
					<em *ngIf="select_desk.status!=2">退菜</em>
					<em class="isTrue" *ngIf="select_desk.status==2 || select_desk.status==3" routerLink="/home/shop/{{select_desk.table_id +'#'+ select_desk.people}}">加菜</em>
					<em class="isTrue" *ngIf="select_desk.status==2" (click)="details()">退菜</em>
				</div>
				<div>
					<span *ngIf="select_desk.status!=2">结账</span>
					<span class="isTrue" *ngIf="select_desk.status==2" (click)="toCheckout()">结账</span>
				</div>
				<div>
					<span *ngIf="select_desk.status!=0">开台</span>
					<span class="isTrue" *ngIf="select_desk.status==0" (click)="open()">开台</span>
				</div>
			</div>
			<!--order_list end-->
		</div>
	</div>
</div>


<!--修改人数-->
<div class="shield-layer" *ngIf="shield">
	<div class="box">
		<div class="top">
			<span>开台人数</span>
			<i (click)="hide()"></i>
		</div>
		<div>
			<div class="text">
				<span>桌台名称：</span>
			</div>
			<div>
				<em>{{select_desk.table_name}}</em>
			</div>
		</div>
		<div>
			<div class="text">
				<span>餐台人数：</span>
			</div>
			<div>
				<form (submit)="confirm()">
					<input class="peoples" maxlength="2" type="text" name="peoples" [(ngModel)]="peoples" />人
					<input class="submit" type="submit" />
				</form>
			</div>
		</div>
		<div>
			<div class="text">
				
			</div>
			<div class="choose">
				<span (click)="hide()">取消</span><span class="confirm" (click)="confirm()">确定</span>
			</div>
		</div>
	</div>
</div>
<!--密码确认-->
<div class="shield-layer" *ngIf="toClear" style="z-index: 100;">
	<div class="box">
		<div class="top">
			<span>{{clear_title}}</span>
			<i (click)="hide()"></i>
		</div>
		<div>
			<div class="text">
			</div>
			<div>
				<em>确定要{{clear_title}}吗?</em>
			</div>
		</div>
		<div>
			<div class="text">
				<span>密码：</span>
			</div>
			<div>
				<form (submit)="clear_table()">
					<input class="password" type="password" name="password" [(ngModel)]="password" />
					<input class="submit" type="submit" />
				</form>
			</div>
		</div>
		<div>
			<div class="text">
				
			</div>
			<div class="choose">
				<span (click)="hide()">取消</span><span class="confirm" (click)="clear_table()">确定</span>
			</div>
		</div>
	</div>
</div>
<!--订单详情-->
<div class="shield-layer" *ngIf="orderDetails">
	<div class="box box1">
		<div class="top">
			<span>订单详情</span>
			<i (click)="hide()"></i>
		</div>
		<div>
			<div class="count">
				<span>数量：{{order.dish.length}}</span>
				<span class="c_right">金额：￥{{order.totalPrice}}</span>
			</div>	
		</div>
		<div>
			<div class="ul">
				<ul>
					<ng-container *ngFor="let data of order.dish;let index=index">
						<li [class.active]="lis[index]" (click)="selectedItem(index)">
							<em *ngIf="index<9">0{{index + 1}}</em>
							<em *ngIf="index>=9">{{index + 1}}</em>
							<span class="name">{{data.goodsName}}</span>
							<span class="number">{{data.num}}</span>
							<span class="price">￥{{data.price}}</span>
						</li>
					</ng-container>	
				</ul>
			</div>
		</div>
		<div>
			<div class="text">
				
			</div>
			<div class="choose">
				<span class="confirm" (click)="retreatFood()">退菜</span><span class="confirm" (click)="clear('退单')">退单</span>
			</div>
		</div>
	</div>
</div>
<!--结账-->
<div class="shield-layer" *ngIf="checkout">
	<div class="box box2">
		<div class="top">
			<span>结账</span>
			<i (click)="hide()"></i>
		</div>
		<div class="box_content row">
			<div class="left col-xs-6 col-md-7">
				<div class="title">
					订单详情
				</div>
				<div class="div">
					<div>
						<span>订单序号：{{order.out_trade_no}}</span><em>桌号：{{select_desk.table_name}}</em>
					</div>
					<div>
						<span>下单时间：{{order.created_at}}</span><em>人数：{{select_desk.people}}</em>
					</div>
				</div>
				<div class="ul">
					<ul>
						<ng-container *ngFor="let data of order.dish;let index=index">
							<li>
								<em *ngIf="index<9">0{{index + 1}}</em>
								<em *ngIf="index>=9">{{index + 1}}</em>
								<span class="name">{{data.goodsName}}</span>
								<span class="number">{{data.num}}</span>
								<span class="price">￥{{data.price}}</span>
							</li>
						</ng-container>	
					</ul>
				</div>
				<div class="count">
					<span>数量：{{order.dish.length}}</span>
					<span class="c_right">金额：￥{{order.totalPrice}}</span>
				</div>
			</div>
			<div class="right col-xs-6 col-md-5">
				<div class="title">
					结算
				</div>
				<form (submit)="payment()">
					<div class="r_box">
						<div>
							<div>消费金额：￥{{order.totalPrice}}</div>
							<div>优惠金额：￥{{order.discountPrice}}</div>
						</div>
						<div>
							<div>收款方式：</div>
							<div class="i1">
								<span (click)="payType(0)" [class.active]="pay_type==0">人工收银</span>
							</div>
							<div class="i1">
								<span (click)="payType(1)" [class.active]="pay_type==2 || pay_type==1">电子支付</span>
							</div>
							<div class="i1" *ngIf="pay_type==0">
								<div class="row">
									<div class="col-xs-6">
										<i class="check"></i>
										<em>现金</em>
									</div>
								</div>
							</div>
							<div class="i1" *ngIf="pay_type==1 || pay_type==2">
								<div class="row">
									<div class="col-xs-6">
										<i class="unCheck" [class.check]="check_type==1" (click)="check_type=1;payType(2)"></i>
										<i class="wechat"></i>
										<em>微信支付</em>
									</div>
									<div class="col-xs-6">
										<i class="unCheck" [class.check]="check_type==2" (click)="check_type=2;payType(1)"></i>
										<i class="alipay"></i>
										<em>支付宝支付</em>
									</div>
								</div>
							</div>
							<div>应收金额：<input name="receivables" [(ngModel)]="receivables" /></div>
							<div style="margin-top: 10px;" *ngIf="pay_type==0">实收金额：<input id="actual" name="actual" [(ngModel)]="actual" /></div>
						</div>
						<div class="charge" *ngIf="pay_type==0">
							<div *ngIf="actual - receivables<=0 || !actual">找零：0</div>
							<div *ngIf="actual - receivables>=0">找零：{{(actual - receivables).toFixed(2)}}</div>
						</div>
						<div class="Scan" *ngIf="pay_type!=0">
							<em>付款码：</em>
							<input id="code" name="code" [(ngModel)]="code" />
							<i class="scan"></i>
						</div>
					</div>
					<input class="submit" type="submit" />
					<!--r_box end-->
				</form>
				<div class="checkout">
					<span class="m-btn" (click)="payment()">结账</span>
				</div>
			</div>
		</div>
	</div>
</div>