<div class="table-page">
	<div class="nav">
		<ul>
      <!--<ng-container *ngFor="let x of category;let index=index">
        <li (click)="select(index, x)" [class.hide]="!menu[x][0]" [class.active]="index==select_index">{{x}}</li>
      </ng-container>-->
      <li class="active">全部餐桌</li>
    </ul>
	</div>
	<div class="content">
		<div class="row">
			<div class="col-xs-8 menu_list">
				<div class="operation row">
					<div class="col-xs-4 col-md-3">
						<div class="t">
							<i class="t0"></i>
							<span>空闲(111)</span>
						</div>
					</div>
					<div class="col-xs-4 col-md-3">
						<div class="t">
							<i class="t1"></i>
							<span>已开台(111)</span>
						</div>
					</div>
					<div class="col-xs-4 col-md-3">
						<div class="t">
							<i class="t2"></i>
							<span>已下单(111)</span>
						</div>
					</div>
					<div class="col-xs-4 col-md-3">
						<div class="t">
							<i class="t3"></i>
							<span>已结账(111)</span>
						</div>
					</div>
				</div>
				<div class="menu_box">
					<div id="sell_out" class="row menu" *ngIf="desk">
						<ng-container *ngFor="let data of desk;let index=index">
							<div class="col-xs-4 col-md-3 col-lg-2 shop">
								<div class="shop_box {{'table'+data.status}}" (click)="select(data)">
									<div class="img">
										<i></i>
									</div>
									<p>{{data.table_num}}</p>
									<p>{{data.people || '0'}}人/{{data.max}}人桌</p>
									<p>123</p>
									<div class="select" *ngIf="select_desk.table_id==data.table_id">
										<i *ngIf="!isMove"></i>
										<i class="move" *ngIf="isMove"></i>
									</div>
								</div>
							</div>
						</ng-container>
					</div>
				</div>
			</div>
			<!--menu_list end-->
			<div class="col-xs-4 order_list">
				<div>
					<span *ngIf="select_desk.status!=2">订单详情</span>
					<span class="isTrue" *ngIf="select_desk.status==2">订单详情</span>
				</div>
				<div>
					<em *ngIf="select_desk.status<=0">移台</em>
					<em *ngIf="select_desk.status<=0">清台</em>
					<em class="isTrue" *ngIf="select_desk.status>0" (click)="move()">移台</em>
					<em class="isTrue" *ngIf="select_desk.status>0" (click)="clear()">清台</em>
				</div>
				<div>
					<em *ngIf="select_desk.status!=2">修改人数</em>
					<em *ngIf="select_desk.status!=1">点单</em>
					<em class="isTrue" *ngIf="select_desk.status==2" (click)="open()">修改人数</em>
					<em class="isTrue" *ngIf="select_desk.status==1" routerLink="/home/shop/{{select_desk.table_id +'#'+ select_desk.people}}">点单</em>
				</div>
				<div>
					<span *ngIf="select_desk.status!=2">结账</span>
					<span class="isTrue" *ngIf="select_desk.status==2">结账</span>
				</div>
				<div>
					<span *ngIf="select_desk.status!=0">开台</span>
					<span class="isTrue" *ngIf="select_desk.status==0" (click)="open()">开台</span>
				</div>
			</div>
			<!--order_list end-->
		</div>
	</div>
</div>

<div class="shield-layer" *ngIf="shield">
	<div class="box">
		<div class="top">
			<span>开台人数</span>
			<i (click)="hide()"></i>
		</div>
		<div>
			<div class="text">
				<span>桌台名称：</span>
			</div>
			<div>
				<em>{{select_desk.table_num}}</em>
			</div>
		</div>
		<div>
			<div class="text">
				<span>餐台人数：</span>
			</div>
			<div>
				<input [(ngModel)]="peoples" />人
			</div>
		</div>
		<div>
			<div class="text">
				
			</div>
			<div class="choose">
				<span (click)="hide()">取消</span><span class="confirm" (click)="confirm()">确定</span>
			</div>
		</div>
	</div>
</div>