.table-page {
	height: 100%;
}
* {color: #555; }
p {margin: 0;}
.nav {
	width: 12%;
	height: 100%;
	float: left;
	background-color: #dcdcdc;
	border-right: 1px solid #b5b5b5;
	border-top: 1px solid #b5b5b5;
}
.nav li {
	padding: 15px 0 15px 15px;
	border-bottom: 1px solid #b5b5b5;
	cursor: pointer;
}
.nav li.active {
	border-left: 3px solid #FE8B46;
	background-color: #fff;
	padding-left: 12px;
}
.content {
	width: 88%;
	height: 100%;
	float: left;
}
.content>.row {
	height: 100%;
}
.menu_list {
	box-sizing: border-box;
	height: 100%;
	background-color: #efefef;
	border-right: 1px solid #aaa;
	overflow-y: auto;
}
.menu_list .menu_box {
	box-sizing: border-box;
	height: 100%;
	padding: 50px 0 0 15px;
}
.menu_list .menu {
	height: 100%;
	overflow-y: auto;
}
.menu_list .remake {
	position: absolute;
	left: 10px;
	bottom: 10px;
}
.menu_list .operation {
	position: absolute;
	left: 0px;
	top: 0;
	width: 100%;
}
.menu_list .operation .t  {
	box-sizing: border-box;
	height: 30px;
	line-height: 30px;
	margin: 10px 10px 0 10px;
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
}
.menu_list .operation i {
	display: block;
	width: 30px;
	height: 30px;
	float: left;
}
.menu_list .operation span {
	margin-left: 10px;
}
.menu_list .operation i.t0{background-color: #bdb8b4;}
.menu_list .operation i.t1{background-color: #bdbf48;}
.menu_list .operation i.t2{background-color: #fa5050;}
.menu_list .operation i.t3{background-color: #37ace6;}

.shop {
	margin-top: 20px;
	padding-right: 10px;
}
.shop_box {
	position: relative;
	border-radius: 5px;
	cursor: pointer;
	overflow: hidden;
}
.shop_box p {
	overflow:hidden; 
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:1; 
	margin: 0;
	padding: 0 5px;
	height: 20px;
}
.shop_box span {
	margin-left: 3px;
	color: #f5331b;
}	
.shop .img {
	width: 100%;
	margin: 10px 0;
}
.shop .img i {
	display: block;
	width: 50%;
	padding-bottom: 50%;
	margin: 0 auto;
	background-size: 100%;
	border-radius: 50%;
}
.shop .select {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.31);
}
.shop .select i {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin: -20px;
	background-image: url(../../../assets/img/table/select.png);
	background-size: 100% 100%;
}
.shop .select i.move {
	background-image: url(../../../assets/img/table/move.png);
}
	
.shop .shop_box * {color: #fff !important;}
.table0{background-color: #bdb8b4;}
.table1{background-color: #bdbf48;}
.table2{background-color: #fa5050;}
.table3{background-color: #37ace6;}

.table0 .img i {background-image: url(../../../assets/img/table/table1.jpg);}
.table1 .img i {background-image: url(../../../assets/img/table/table2.jpg);}
.table2 .img i {background-image: url(../../../assets/img/table/table3.jpg);}
.table3 .img i {background-image: url(../../../assets/img/table/table4.jpg);}
/*order_list*/
.order_list {
  height: 100%;
  overflow-y: auto;
}
.order_list>div {
	box-sizing: border-box;
	width: 100%;
	padding: 0 15px 0 15px;
}
.order_list span, .order_list em {
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	float: left;
	margin-top: 15px;
	background-color: #c2c2c2;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	text-align: center;
}
.order_list span.isTrue, .order_list em.isTrue {
	background-color: #FE8B46;
}
.order_list em {
	width: 45%;	
}
.order_list em:nth-child(2) {
	margin-left: 10%;
}


.shield-layer .box {
	width: 400px;
	height: 200px;
	margin: -200px 0 0 -200px;
}
.shield-layer .box1 {
	width: 400px;
	height: 360px;
	margin: -240px 0 0 -200px;
}
.shield-layer .count {
	padding: 0 15px;
}
.shield-layer .count .c_right {
	float: right;
	color: #F5331B;
}
.shield-layer .ul {
	box-sizing: border-box;
	width: 100%;
	height: 200px;
	padding: 0 15px;
	overflow-y: auto;
}
.shield-layer ul {
	min-height: 100%;
	margin: 0;
	border: 1px solid #ddd;
}
.shield-layer li {
	border-bottom: 1px solid #ddd;
}
.shield-layer li em {
	display: block;
	width: 40px;
	float: left;
	padding: 0 8px;
	margin-right: 10px;
	border-right: 1px solid #ddd;
}
.shield-layer li .name {
	display: block;
	width: 215px;
	height: 30px;
	float: left;
	padding-right: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.shield-layer li .price {
	display: block;
	width: 70px;
	float: right;
}

.shield-layer .box2 {
	width: 640px;
	height: 480px;
	margin: -240px 0 0 -350px;
}
.shield-layer .box_content {
	padding: 15px 15px 0;
}
.shield-layer .box_content .left, .shield-layer .box_content .right {
	height: 420px;
	float: left;
	background-color: #fff;
	border: 1px solid #d2d2d2;
}
.shield-layer .box_content .left {
	box-sizing: border-box;
	border-right: none;
}
.shield-layer .box_content .title {
	background-color: #e5e5e5;
	border-bottom: 1px solid #d2d2d2;
	text-align: center;
}
.shield-layer .box_content .left .div {
	padding: 0 15px;
}
.shield-layer .box_content .left .div em {
	float: right;
}
.shield-layer .box_content .ul {
	height: 296px;
}
.shield-layer .box_content .right {
	box-sizing: border-box;
}
.shield-layer .r_box>div {
	margin-left: 15px;
}
.shield-layer .r_box .i1 {
	margin: 0 5% 10px 10%;
}
.shield-layer .r_box span {
	display: block;
	width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #c2c2c2;
  color: #fff;
  cursor: pointer;
  text-align: center;
}
.shield-layer .r_box span.active {
	background-color: #FE8B46;
}	
.shield-layer .r_box .i1 i {
	display: block;
	width: 20px;
	height: 20px;
	float: left;
	margin-top: 5px;
	background-size: 100%;
	cursor: pointer;
}	
.shield-layer .r_box .i1 .unCheck {
	margin-right: 5px;
	border: 1px solid #ccc;
}
.shield-layer .r_box .i1 .check {
	margin-right: 5px;
	border: none;
	background-image: url(../../../assets/img/table/check.png);
}
.shield-layer .r_box .i1 .wechat {
	margin-right: 5px;
	background-image: url(../../../assets/img/table/WeChat.png);
}
.shield-layer .r_box .i1 .alipay {
	margin-right: 5px;
	background-image: url(../../../assets/img/table/Alipay.png);
}
.shield-layer .r_box .scan {
	display: block;
	width: 25px;
	height: 24px;
	float: right;
	margin: 3px 20px 0 0;
	background-image: url(../../../assets/img/table/Scan.png);
	background-size: 100%;
}
.shield-layer .r_box .Scan{margin-top: 10px;}
.shield-layer .r_box .Scan input {width: 185px;}
.shield-layer .charge>div {
	margin-top: 8px;
}
.shield-layer .charge input {
	width: 185px;
	margin-left: 13px;
}
.checkout{
	padding: 0 5% 0 10%;
	margin-top: 15px;
}
.checkout span {
	border-radius: 5px;
}

@media only screen and (max-width: 991px) {
	.menu_list .menu_box {padding: 80px 0 0 15px;}
	.shield-layer .box2 li .name {width: 100px;}
	.shield-layer .r_box .Scan input {width: 170px;}
	.shield-layer .charge input {width: 170px;}
}
@media only screen and (min-width: 992px) {
	.shield-layer .box2 li .name {width: 200px;}
	.shield-layer .box2 {
		width: 800px;
		height: 480px;
		margin: -240px 0 0 -400px;
	}
}
	