.table-page {
	height: 100%;
}
* {color: #555; }
p {margin: 0;}
.nav {
	width: 12%;
	height: 100%;
	float: left;
	background-color: #dcdcdc;
	border-right: 1px solid #b5b5b5;
	border-top: 1px solid #b5b5b5;
}
.nav li {
	padding: 15px 0 15px 15px;
	border-bottom: 1px solid #b5b5b5;
	cursor: pointer;
}
.nav li.active {
	border-left: 3px solid #FE8B46;
	background-color: #fff;
	padding-left: 12px;
}
.content {
	width: 88%;
	height: 100%;
	float: left;
}
.content>.row {
	height: 100%;
}
.menu_list {
	box-sizing: border-box;
	height: 100%;
	background-color: #efefef;
	border-right: 1px solid #aaa;
	overflow-y: auto;
}
.menu_list .menu_box {
	box-sizing: border-box;
	height: 100%;
	padding: 50px 0 0 15px;
}
.menu_list .menu {
	height: 100%;
	overflow-y: auto;
}
.menu_list .remake {
	position: absolute;
	left: 10px;
	bottom: 10px;
}
.menu_list .operation {
	position: absolute;
	left: 0px;
	top: 0;
	width: 100%;
}
.menu_list .operation .t  {
	box-sizing: border-box;
	height: 30px;
	line-height: 30px;
	margin: 10px 10px 0 10px;
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
}
.menu_list .operation i {
	display: block;
	width: 30px;
	height: 30px;
	float: left;
}
.menu_list .operation span {
	margin-left: 10px;
}
.menu_list .operation i.t0{background-color: #bdb8b4;}
.menu_list .operation i.t1{background-color: #bdbf48;}
.menu_list .operation i.t2{background-color: #fa5050;}
.menu_list .operation i.t3{background-color: #37ace6;}

.shop {
	margin-top: 20px;
	padding-right: 10px;
}
.shop_box {
	position: relative;
	border-radius: 5px;
	cursor: pointer;
	overflow: hidden;
}
.shop_box p {
	overflow:hidden; 
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:1; 
	margin: 0;
	padding: 0 5px;
	height: 20px;
}
.shop_box span {
	margin-left: 3px;
	color: #f5331b;
}	
.shop .img {
	width: 100%;
	margin: 10px 0;
}
.shop .img i {
	display: block;
	width: 50%;
	padding-bottom: 50%;
	margin: 0 auto;
	background-size: 100%;
	border-radius: 50%;
}
.shop .select {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.31);
}
.shop .select i {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin: -20px;
	background-image: url(../../../assets/img/table/select.png);
	background-size: 100% 100%;
}
.shop .select i.move {
	background-image: url(../../../assets/img/table/move.png);
}
	
.shop .shop_box * {color: #fff !important;}
.table0{background-color: #bdb8b4;}
.table1{background-color: #bdbf48;}
.table2{background-color: #fa5050;}
.table3{background-color: #37ace6;}

.table0 .img i {background-image: url(../../../assets/img/table/table1.jpg);}
.table1 .img i {background-image: url(../../../assets/img/table/table2.jpg);}
.table2 .img i {background-image: url(../../../assets/img/table/table3.jpg);}
.table3 .img i {background-image: url(../../../assets/img/table/table4.jpg);}
/*order_list*/
.order_list {
  height: 100%;
  overflow-y: auto;
}
.order_list>div {
	box-sizing: border-box;
	width: 100%;
	padding: 0 15px 0 15px;
}
.order_list span, .order_list em {
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	float: left;
	margin-top: 15px;
	background-color: #c2c2c2;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	text-align: center;
}
.order_list span.isTrue, .order_list em.isTrue {
	background-color: #FE8B46;
}
.order_list em {
	width: 45%;	
}
.order_list em:nth-child(2) {
	margin-left: 10%;
}


.shield-layer .box {
	width: 400px;
	height: 200px;
	margin: -200px 0 0 -100px;
}

@media only screen and (max-width: 991px) {
	.menu_list .menu_box {
		padding: 80px 0 0 15px;
	}
}