<div class="fixed-page">
  <app-page-header
    [title]="title"
    [url]="'/home/project-list'"
  ></app-page-header>

  <div class="form-page">
    <div class="page">
      <div *ngIf="project" class="project">

        <div *ngIf="project.times && !isDetails" class="form-group reject">
          <label>驳回原因：</label>
          <input disabled class="form-control" [value]="project.description" type="text" />
        </div>

        <ng-container *ngIf="formKeys">

          <div class="form-group" *ngFor="let group of formKeys.groups;">
            <label>{{ group.name }}：</label>
            <input disabled class="form-control" [value]="project[group.key]" type="text" />
          </div>

          <div class="form-group" *ngFor="let group of formKeys.paragraph;">
            <label>{{ group.name }}：</label>
            <textarea disabled>{{ project[group.key] }}</textarea>
          </div>

          <div class="form-group" *ngFor="let file of formKeys.files;">
            <label>{{ file.name }}：</label>
            <div class="form-control-none">
              <a target="_blank" href="{{ project[file.key] }}">
                点击下载
                <i class="fa fa-download" aria-hidden="true"></i>
              </a>
            </div>
          </div>

          <!-- 采购申请,添加采购表格 -->
          <ng-container *ngIf="type == 6 && workflow.items">
            <table border="1" class="purchaseTable">
              <tr>
                <th colspan="3">采购列表</th>
              </tr>
              <tr>
                <th>名称</th>
                <th>数量</th>
                <th>金额</th>
              </tr>
              <tr *ngFor="let item of workflow.items">
                <td>{{ item.name }}</td>
                <td>{{ item.num }}</td>
                <td>{{ item.money }}</td>
              </tr>
            </table>
          </ng-container>
          <!-- 采购end -->

          <ng-container *ngFor="let inspector of formKeys.inspectors">
            <div *ngIf="procedureIndex > inspector.procedureIndex">
              <app-user-select
                [canEditUser]="false"
                [editForm]="project"
                [key]="inspector.key"
                [text]="inspector.text"
              ></app-user-select>

              <!-- 合同,添加可选项 -->
              <ng-container *ngIf="type == 2 && inspector.procedureIndex == 2">
                <div class="optional_box" *ngIf="project.checker_optional">
                  <span>可选项：(实心圆点为是,空蓝色圈为否)</span>
                  <ul class="optional">
                    <li>
                      <i [class.active]="project.checker_optional[1].op1"></i>
                      1．我方与委托方的权利与义务是否明确？<br/>
                      <input disabled [value]="project.checker_optional[1].text1" />
                    </li>
                    <li>
                      <i [class.active]="project.checker_optional[2].op2"></i>
                      2．合同条款、格式是否符合要求？
                    </li>
                    <li>
                      <i [class.active]="project.checker_optional[3].op3"></i>
                      3．检验检测单价是否符合有关规定？
                    </li>
                    <li>
                      <i [class.active]="project.checker_optional[4].op4"></i>
                      4．付款方式是否合理？
                    </li>
                    <li>
                      5．其他:<input disabled [value]="project.checker_optional[5].text5" />
                    </li>
                  </ul>
                </div>
              </ng-container>

              <ng-container *ngIf="type == 2 && inspector.procedureIndex == 3">
                <div class="optional_box" *ngIf="project.for_optional">
                  <span>可选项：(实心圆点为是,空蓝色圈为否)</span>
                  <ul class="optional">
                    <li>
                      <i [class.active]="project.for_optional[1].op1"></i>
                      1．委托方的技术要求是否明确？<br/>
                      <input disabled [value]="project.for_optional[1].text1" />
                    </li>
                    <li>
                      <i [class.active]="project.for_optional[2].op2"></i>
                      2．委托方的技术要求是否符合有关规范、规定？<br/>
                      <input disabled [value]="project.for_optional[2].text2" />
                    </li>
                    <li>
                      <i [class.active]="project.for_optional[3].op3"></i>
                      3．现有检验检测能力是否满足该项目的要求？及需采取的措施。<br/>
                      <input disabled [value]="project.for_optional[3].text3" />
                    </li>
                    <li>
                      <i [class.active]="project.for_optional[4].op4"></i>
                      4．能否按合同要求及时进场、按时完成？<br/>
                      <input disabled [value]="project.for_optional[4].text4" />
                    </li>
                    <li>
                      <i [class.active]="project.for_optional[5].op5"></i>
                      5．是否需要分包？<br/>
                      分包合同编号：<br/>
                      <input disabled [value]="project.for_optional[5].text5" />
                    </li>
                    <li>
                      6．其他:<input disabled [value]="project.for_optional[6].text6" />
                    </li>
                  </ul>
                </div>
              </ng-container>
              <!-- 合同end -->
            </div>
          </ng-container>

        </ng-container>

      </div>
    </div>
  </div>

  <ng-container *ngIf="!isDetails && procedureIndex">
    <app-approval-options
      [procedureIndex]="procedureIndex"
      [queryParams]="queryParams"
    ></app-approval-options>
  </ng-container>
</div>
