<div class="login-page fixed-page">
  <div class="content">
    <h4 class="title">检验检测机构信息管理系统</h4>

    <form (submit)="login(username, password)">
      <div class="input_box">
        <input type="text" placeholder="请输入用户名" [(ngModel)]="username" name="username" />
        <i class="username"></i>
      </div>

      <div class="input_box">
        <input type="password" placeholder="请输入密码" [(ngModel)]="password" name="password" />
        <i class="password"></i>
      </div>

      <input class="submit" type="submit" />
    </form>

    <div class="login_btn" (click)="login(username, password)">登录</div>
  </div>
</div>
