<div class="shop-page">
	<div class="nav">
		<ul>
      <ng-container *ngFor="let x of category;let index=index">
        <li (click)="select(index, x)" [class.hide]="!menu[x][0]" [class.active]="index==select_index">{{x}}</li>
      </ng-container>
    </ul>
	</div>
	<div class="content">
		<div class="row">
			<div class="col-xs-8 menu_list">
				<div class="operation row">
					<div class="search_box">
						<input placeholder="请输入简称" />
						<i class="m-btn">
							<em></em>
						</i>
					</div>
					<span class="m-btn">添加菜品</span>
				</div>
				<div class="row menu" *ngIf="menu">
					<ng-container *ngFor="let data of menu[select_category];let index=index">
						<div class="col-xs-4 col-md-3 col-lg-2 shop">
							<div class="shop_box" (click)="setShop(data, true)">
								<div class="img">
									<img src="{{data.food_picture}}" />
								</div>
								<p>{{data.food_name}}</p>
								<span>￥{{data.food_price}}/ 份</span>
							</div>
						</div>
					</ng-container>
				</div>
			</div>
			<div class="col-xs-4 order_list">
				<div class="top">
					<span (click)="pack(true)" [class.active]="isPack">整单打包</span>
					<span (click)="pack(false)" [class.active]="!isPack">堂食</span>
				</div>
				<div class="order_details">
					<ul *ngIf="menu">
						<ng-container *ngFor="let data of menu['全部菜品']">
							<li *ngIf="data.num>0" class="row">
								<div class="img">
									<img src="{{data.food_picture}}"/>
								</div>
								<div class="details col">
									<div class="text">
										<span>{{data.food_name}}</span>
										<em>￥{{data.food_price}}</em>
									</div>
									<div class="isPack">
										<p *ngIf="isPack">[打包]</p>
									</div>
									<div class="operation">
										<em (click)="setShop(data, false)"></em>
										<span>{{data.num}}</span>
										<em class="increase" (click)="setShop(data, true)"></em>
										<i (click)="clear()"></i>
									</div>
								</div>
							</li>
						</ng-container>
					</ul>
				</div>
				<div class="statistics">
					<div class="num">
						<span>总数：{{total}}</span>
						<em>金额：{{total}}</em>
					</div>
					<div class="desk">
						<span>桌/牌号：</span>
						<span class="desk_num">{{total}}</span>
						<em>清空菜品</em>
					</div>
					<div class="settlement">
						<span class="m-btn">结算</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>