<div class="shop-page">
	<div class="nav">
		<ul>
      <ng-container *ngFor="let x of category;let category=index">
        <li [class.hide]="!menu[x][0]" id="category{{category}}">{{x}}</li>
      </ng-container>
    </ul>
	</div>
	<div class="content">
		<div class="row">
			<div class="col-xs-8 menu_list">
				<div class="operation row">
					<div class="search_box">
						<input placeholder="请输入简称" />
						<i class="m-btn">
							<em></em>
						</i>
					</div>
					<span class="m-btn">添加菜品</span>
				</div>
				<div class="row menu">
					<div class="col-xs-4 col-md-3 col-lg-2 shop">
						<div class="shop_box">
							<div class="img">
								<img src="../../../assets/img/shop/1.jpg" />
							</div>
							<p>果子煎饼</p>
							<span>￥20.0/份</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-4 order_list">
			
			</div>
		</div>
	</div>
</div>