<div class="fixed-page">
  <app-page-header
    [title]="'审批意见'"
    [url]="url"
  ></app-page-header>


  <div class="page">
    <div class="option">{{ '意见:' + optionTest }}</div>
    <div class="form-group">
      <ng-container *ngIf="tas_uid != '7096257625a6fd9e6e327b7056575944' &&
         tas_uid != '7591958415a6fda5eb32403071634539'">
        <textarea class="textarea" [(ngModel)]="cacheData['remake']"></textarea>
      </ng-container>

      <ng-container *ngIf="cacheData.optional">
        <div *ngIf="tas_uid == '7096257625a6fd9e6e327b7056575944'">
          <ul class="optional">
            <span>可选项：(默认选中,点击蓝色圈选择/取消)</span>
            <li>
              <i [class.active]="cacheData.optional[0].option" (click)="select(0)"></i>
              1．我方与委托方的权利与义务是否明确？<br/>
              需明确的内容请填写：<br/>
              <input [(ngModel)]="cacheData.optional[0].text" />
            </li>
            <li>
              <i [class.active]="cacheData.optional[1].option" (click)="select(1)"></i>
              2．合同条款、格式是否符合要求？
            </li>
            <li>
              <i [class.active]="cacheData.optional[2].option" (click)="select(2)"></i>
              3．检验检测单价是否符合有关规定？
            </li>
            <li>
              <i [class.active]="cacheData.optional[3].option" (click)="select(3)"></i>
              4．付款方式是否合理？
            </li>
            <li>
              5．其他:<textarea class="textarea" [(ngModel)]="cacheData.optional[4].text"></textarea>
            </li>
          </ul>
        </div>

        <div *ngIf="tas_uid == '7591958415a6fda5eb32403071634539'">
          <ul class="optional">
            <span>可选项：(默认选中,点击蓝色圈选择/取消)</span>
            <li>
              <i [class.active]="cacheData.optional[0].option" (click)="select(0)"></i>
              1．委托方的技术要求是否明确？<br/>
              需进一步明确的请填写：<br/>
              <input [(ngModel)]="cacheData.optional[0].text" />
            </li>
            <li>
              <i [class.active]="cacheData.optional[1].option" (click)="select(1)"></i>
              2．委托方的技术要求是否符合有关规范、规定？<br/>
              需补充的请填写：<br/>
              <input [(ngModel)]="cacheData.optional[1].text" />
            </li>
            <li>
              <i [class.active]="cacheData.optional[2].option" (click)="select(2)"></i>
              3．现有检验检测能力是否满足该项目的要求？及需采取的措施。<br/>
              需说明的请填写：<br/>
              <input [(ngModel)]="cacheData.optional[2].text" />
            </li>
            <li>
              <i [class.active]="cacheData.optional[3].option" (click)="select(3)"></i>
              4．能否按合同要求及时进场、按时完成？<br/>
              有其他时间要求的请填写：<br/>
              <input [(ngModel)]="cacheData.optional[3].text" />
            </li>
            <li>
              <i [class.active]="cacheData.optional[4].option" (click)="select(4)"></i>
              5．是否需要分包？<br/>
              分包合同编号：<br/>
              <input [(ngModel)]="cacheData.optional[4].text" />
            </li>
            <li>
              6．其他:<textarea class="textarea" [(ngModel)]="cacheData.optional[5].text"></textarea>
            </li>
          </ul>
        </div>
      </ng-container>

      <div class="leader" *ngIf="canNext && option">
        <app-user-select
          [canMultiselect]="false"
          [editForm]="leader"
          [editFormName]="'leader'"
          [text]="task"
          [key]="'leader'"
          [url]="'/home/approval/'"
          [(cacheData)] = "cacheData"
          [queryParams]="{ returnParams: queryParams }"
        ></app-user-select>
      </div>

      <div>
        <ng-container *ngIf="canSelectFile">
          <div class="form-group">
            <label>文件上传：</label>
            <div class="form-control file_box">
              <div class="file">
                <input type="file" id="upfile" (change)="fileChange()"/>
              </div>
              <span><small>{{ fileName || '(请先选择审核人)' }}</small></span>
            </div>
          </div>

          <ng-container *ngIf="fileName && type==1">
            <div class="form-group">
              <label>报告页数：</label>
              <input [(ngModel)]="page" type="number" class="form-control input" placeholder="请输入报告页数" />
            </div>

            <div class="form-group">
              <label>提交报告时间：</label>
              <input id="time" data-options='{"type": "date"}' placeholder="请选择时间" readonly
                     type="text" class="form-control dateTime" />
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="options_top_null"></div>
  <div class="options">
    <div class="confirm" (click)="options(true)">提交</div>
    <div class="cancel"  (click)="options(false)">取消</div>
  </div>
</div>

