<div class="fixed-page">
  <app-page-header
    [title]="'审批意见'"
    [url]="url"
  ></app-page-header>


  <div class="page">
    <div class="option">{{ '意见:' + optionTest }}</div>
    <div class="form-group">
    <textarea class="textarea" [(ngModel)]="remake">

    </textarea>

    <div class="leader">
      <app-user-select
        [canMultiselect]="false"
        [editForm]="leader"
        [editFormName]="'leader'"
        [text]="'下一步审核人'"
        [key]="'leader'"
        [url]="'/home/approval/'"
        [queryParams]="{ return_url: queryParams }"
      ></app-user-select>
    </div>
    </div>
  </div>
  <div class="options_top_null"></div>
  <div class="options">
    <div class="confirm" (click)="options(true)">确定</div>
    <div class="cancel"  (click)="options(false)">取消</div>
  </div>
</div>

