<div class="content">
	<div class="head">
		<div>
			<em>快速搜索</em>
			<span [class.active]="condition==1" (click)="search(null, 'yesterday');condition=1">昨天</span>
			<span [class.active]="condition==2" (click)="search(null, 'this week');condition=2">本周</span>
			<span [class.active]="condition==3" (click)="search(null, 'this month');condition=3">本月</span>
		</div>
	</div>
	
	<div class="order-content">
		<div class="row">
			<div class="col-xs-6 box">
				<div class="box-content">
					<div class="row type">
						<div>
							<input type="date" name="start_time" [(ngModel)]="start_time"/>
							<span>到</span>
							<input type="date" name="end_time" [(ngModel)]="end_time"/>
							<em class="m-btn" (click)="search(start_time, end_time)">搜索</em>
						</div>
					</div>
					<!--type end-->
					<div class="order_box">
						<div class="order_list">
							<ul class="slimscroll">
								<ng-container *ngFor="let data of orders;let index=index">
									<li (click)="select(index, data)" [class.active]="select_index==index">
										<div class="number">
											<span>{{index + 1}}</span>
										</div>
										<div class="details">
											<div class="row">
												<span class="col-xs-12">创建时间：{{data.created_at}}</span>
												<span class="col-xs-12">订单编号：{{data.trade_no}}</span>
												<span class="col-xs-6">订单金额：{{data.total_amount}}</span>
												<span *ngIf="data.refund==0" class="col-xs-6 success">交易成功</span>
												<span *ngIf="data.refund!=0"class="col-xs-6 fail">已退款</span>
											</div>
										</div>
									</li>
								</ng-container>
							</ul>
						</div>	
					</div>
					<!--order_box end-->
				</div>
			</div>
			<!--box end-->
			<div class="col-xs-6 box">
				<div class="box-content">
					<div class="row type">
						<div>订单详情</div>
					</div>
					<!--type end-->
					<div class="order_box">
						<div class="list_top slimscroll">
								<div class="row order_details" *ngIf="select_order.id">
									<span class="col-xs-12"><em>订单编号</em>：{{select_order.trade_no}}</span>
									<span class="col-xs-12"><em>下单时间</em>：{{select_order.updated_at}}</span>
									<span class="col-xs-12"><em>订单金额</em>：{{select_order.total_amount}}</span>
									<span class="col-xs-12"><em>用户支付</em>：{{select_order.buyer_pay_amount}}</span>
									<span class="col-xs-12"><em>实收金额</em>：{{select_order.receipt_amount}}</span>
									<span class="col-xs-12"><em>桌&nbsp;台</em>：&nbsp;{{select_order.table_name}}</span>
									<span *ngIf="select_order.type==0" class="col-xs-12"><em>支付类型</em>：现金支付</span>
									<span *ngIf="select_order.type==1" class="col-xs-12"><em>支付类型</em>：支付宝支付</span>
									<span *ngIf="select_order.type==2" class="col-xs-12"><em>支付类型</em>：微信支付</span>
								</div>
							</div>
					</div>
					<!--order_box end-->
				</div>				
			</div>
			<!--box end-->
		</div>
	</div>
</div>