<div class="order-page">
	
	<div class="head">
		<div class="call">
			<i></i><span>呼叫服务</span><em>(2)</em>
		</div>
		
		<div class="switch">
			<div class="automatic_list">
				<span>自动接单</span>
				<i (click)="isAutomatic=!isAutomatic" [class.active]="isAutomatic"></i>
			</div>
			<div class="doBusiness">
				<span>营业状态</span>
				<i (click)="isBusiness=!isBusiness" [class.active]="isBusiness"></i>
			</div>
		</div>
	</div>
	
	<div class="order-content">
		<div class="row">
			<div class="col-xs-6 box">
				<div class="box-content">
					<div class="row type">
						<div class="col-xs-3" (click)="select_type(0, false)" [class.active_type]="type==0">
							<div>
								<i class="new"></i>
								<span>新订单</span>
							</div>
						</div>
						<div class="col-xs-3" (click)="select_type(1, 'doing_order')" [class.active_type]="type==1">
							<div>
								<i class="todo"></i>
								<span>进行中</span>
							</div>
						</div>
						<div class="col-xs-3" (click)="select_type(2, 'refund_order')" [class.active_type]="type==2">
							<div>
								<i class="refund"></i>
								<span>退款</span>
							</div>
						</div>
						<div class="col-xs-3" (click)="select_type(3, 'finish_order')" [class.active_type]="type==3">
							<div>
								<i class="complete"></i>
								<span>已完成</span>
							</div>
						</div>
					</div>
					<!--type end-->
					<div class="order_box">
						<div class="order_list">
							<ul>
								<ng-container *ngFor="let data of order;let index=index">
									<li (click)="select(index, data)" [class.active]="select_index==index">
										<div class="number">
											<span>{{index + 1}}</span>
										</div>
										<div class="details">
											<div class="row">
												<span class="col-xs-12 col-md-6">订单编号：{{data.out_trade_no}}</span>
												<span class="col-xs-6">桌台号：{{data.tableCode}}</span>
												<span class="col-xs-6">用餐人数：{{data.people}}</span>
												<span class="col-xs-6">订单金额：{{data.totalPrice}}</span>
											</div>
										</div>
									</li>
								</ng-container>
							</ul>
						</div>	
					</div>
					<!--order_box end-->
				</div>
			</div>
			<!--box end-->
			<div class="col-xs-6 box">
				<div class="box-content">
					<div class="row type">
						<div>订单详情</div>
					</div>
					<!--type end-->
					<div class="order_box">
						<div class="list_top">
								<div class="row order_details">
									<span class="col-xs-6"><em>订单编号</em>：{{select_order.out_trade_no}}</span>
									<span class="col-xs-6"><em>桌台号</em>：{{select_order.tableCode}}</span>
									<span class="col-xs-6"><em>用餐人数</em>：{{select_order.people}}</span>
									<span class="col-xs-6"><em>下单时间</em>：{{select_order.updated_at}}</span>
									<span class="col-xs-6"><em>订单金额</em>：{{select_order.totalPrice}}</span>
									<span class="col-xs-6"><em>实收金额</em>：{{select_order.realPrice}}</span>
									<span class="col-xs-12">
										<em>备注信息</em>：
										{{select_order.description}}
									</span>
								</div>
								<div class="title">菜品详情
									<span *ngIf="select_order.dish">数量：{{select_order.dish.length}}</span>
								</div>
							</div>
						<div class="list_box">
							
							<div class="ul">
								<ul *ngIf="select_order.dish">
									<ng-container *ngFor="let data of select_order.dish;let index=index">
										<li>
											<em *ngIf="index<9">0{{index + 1}}</em>
											<em *ngIf="index>=9">{{index + 1}}</em>
											<span class="name">{{data.goodsName}}</span>
											<span class="number">{{data.num}}</span>
											<span class="price">￥{{data.price}}</span>
										</li>
									</ng-container>	
								</ul>
							</div>
							<div class="print_box">
								<span class="m-btn print" *ngIf="select_order.dish" (click)="print()">打印</span>
								<span class="m-btn print no" *ngIf="!select_order.dish">打印</span>
								<span class="m-btn print refund" *ngIf="select_order.dish" (click)="refund()">退款</span>
								<span class="m-btn print refund no" *ngIf="!select_order.dish">退款</span>
							</div>
						</div>
					</div>
					<!--order_box end-->
				</div>				
			</div>
			<!--box end-->
		</div>
	</div>	
	
</div>