<app-page-header
  [title]="'报告详情'"
  [url]="'/home/project-list'"
  ></app-page-header>

<div class="form-page fixed">
  <div class="page">
    <div *ngIf="project" class="project">

      <div class="form-group">
        <label>报告名称：</label>
        <input disabled class="form-control" [value]="project.name" type="text" />
      </div>

      <div class="form-group">
        <label>项目名：</label>
        <input disabled class="form-control" [value]="project.project_name" type="text" />
      </div>

      <div class="form-group">
        <label>报告类型：</label>
        <input disabled class="form-control" [value]="project.rp_type" type="text" />
      </div>

      <div class="form-group">
        <label>报告格式：</label>
        <input disabled class="form-control" [value]="project.rp_format" type="text" />
      </div>

      <div class="form-group">
        <label>样品/记录编号：</label>
        <input disabled class="form-control" [value]="project.sample" type="text" />
      </div>

      <div class="form-group">
        <label>盲样编号：</label>
        <input disabled class="form-control" [value]="project.blind_sample" type="text" />
      </div>

      <div class="form-group">
        <label>负责人：</label>
        <input disabled class="form-control" [value]="project.maker" type="text" />
      </div>

    </div>
  </div>
</div>

<ng-container *ngIf="!isDetails && procedureIndex">
  <div class="options_top_null"></div>
  <div class="options" *ngIf="procedureIndex != 1">
    <div class="confirm" (click)="options(true)">同意</div>
    <div class="refuse"  (click)="options(false)">拒绝</div>
  </div>
  <div class="options" *ngIf="procedureIndex == 1">
    <div class="confirm allWidth" (click)="options(true)">提交</div>
  </div>
</ng-container>
