.form-page {
  margin-top: 1rem;
  background-color: #f0f0f0;
}

.project form {
  display: inline-block;
  width: 100%;
  margin-top: 1rem;
}
.project form input.invalid {
   border: 1px solid #ec7373;
 }
.project .form-group {
  float: right;
}
.form-group label {
  margin-top: 0.5rem;
  font-weight: normal;
}
.form-group select {
  height: 2.2rem;
  line-height: 1.2rem;
}
.project .form-control {
  width: 15rem;
  float: right;
  border: 1px solid #ccc;
  border-radius: 0;
  background-color: #fff;
  outline: none;
}
.project .form-control:focus {
  box-shadow: none;
}
.btns {
  width: 100%;
  float: left;
}
input.form-control {
  margin-bottom: 0;
}

.approval_user {
  display: inline-block;
  padding-top: 0.5rem;
  border-top: 1px dashed #ccc;
}
.approval_user form-group {
  width: 100%;
}
.approval_user .approval {
  width: 100%;
  float: right;
}
.approval_user .approval_option {
  font-weight: bold;
  text-align: right;
}
.approval_user .approval_option .option {
  width: 14.5rem;
  padding-left: 0.5rem;
  float: right;
  margin-bottom: 1rem;
  text-align: left;
}
.approval_user .approval_option .option span {
  color: red;
}
.approval_user .approval_option .option span.agree {
  color: #58c821;
}
.approval_user .approval_option .option .remake {
  font-weight: normal;
}

select.fileId {
  border: 1px solid #ccc !important;
}

.file_box {
  border: none !important;
}
.file {
  display: inline-block;
  width: 2rem;
  background-image: url("../assets/images/upload.png");
  background-size: 100%;
}
#upfile {
  display: block;
  width: 2rem;
  height: 2rem;
  opacity: 0;
}

.project .form-control-none {
  width: 15rem;
  float: right;
}
.project .form-control-none a {
  color: #298eff;
  font-size: 0.8rem;
}
.project .form-control-none .fa-download {
  margin: 0.18rem;
  color: #298eff;
  font-size: 1.5rem;
}
.user-select-box {
  padding-left: 3.2rem;
}
.reject * {
  color: #d9534f;
}

.optional_box {
  width: 100%;
  float: left;
  padding: 0 1rem 0 2rem;
  margin-bottom: 2rem;
}
.optional_box span {
  color: #999;
}
.optional li {
  display: inline-block;
  width: 100%;
  padding: 0.2rem 0;
}
.optional li i {
  display: block;
  width: 1rem;
  height: 1rem;
  float: left;
  margin: 0.15rem 0.4rem 0 0;
  background-size: 100%;
  background-image: url("../assets/images/noselect.png");
}
.optional li i.active {
  background-image: url("../assets/images/select.png");
}
.optional input {
  width: 100%;
  padding: 0.3rem 0.5rem;
  margin-top: 0.3rem;
  font-size: 1rem;
  background-color: #fff;
}

.purchaseTable {
  width: 90%;
  margin: 1rem auto 1.5rem;
}
.purchaseTable tr {
  width: 100%;
}
.purchaseTable th, .purchaseTable td {
  padding: 0.3rem;
  text-align: center;
}
textarea {
  width: 15rem;
  float: right;
  height: 5rem;
  line-height: 1.5rem;
  padding: 0.25rem;
  background-color: #fff;
}
