<div class="home-page">
	<div class="navigation-bar">
		<div class="navigation-bar-top"></div>
		<div class="navigation-bar-list">
			<ul>
			  <li>
			    <a routerLink="shop">
			    	<div>
			    		<i class="icon-1"></i><span>shop</span>
			    	</div>
			    </a>
			  </li>
			  <li>
			    <a routerLink="table">table</a>
			  </li>
			  <li>
			    <a routerLink="order">order</a>
			  </li>
			  <li>
			    <a routerLink="shop">shop</a>
			  </li>
			  <li>
			    <a routerLink="table">table</a>
			  </li>
			  <li>
			    <a routerLink="order">order</a>
			  </li>
			  <li>
			    <a routerLink="order">order</a>
			  </li>
			</ul>
		</div>
	</div>
	
	
	<div class="home-page-content">
		<router-outlet></router-outlet>
	</div>
</div>