.home-page {
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding-top: 105px; /*navigation-bar height*/
}
.navigation-bar{
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 3;
}
.navigation-bar-top {
	height: 55px;
	background-image: url(../../../assets/img/nav.jpg);
	background-size: 100% 100%;
}
.title {
	float: left;
}
.title h3 {
	margin: 15px 0 0 20px;
	color: #555;
}
.user {
	float: right;
	margin-right: 10px;
}
.user-icon {
	display: block;
	width: 35px;
	height: 35px;
	margin: 10px;
	float: left;
	background-image: url(../../../assets/img/user.png);
	background-size: 100%;
}
.user span {
	line-height: 55px; /*.navigation-bar-top height*/
	float: left;
}
.navigation-bar-list {
	width: 100%;
	float: left;
	background-color: #d9d9d9;
}
.navigation-bar-list li {
	width: 14%;
	float: left;
	border-left: 1px solid #fff;
	cursor: pointer;
	text-align: center;
}
.navigation-bar-list li:first-child {
	border-left: none;
}
.navigation-bar-list li.active {
	background-color: #fe8b46;
}
.navigation-bar-list li div {
	display: inline-flex;
}
.navigation-bar-list li i {
	display: inline-block;
	width: 30px;
	height: 30px;
	float: left;
	margin: 10px auto; /*(x-height)/2*/
	background-size: 100%
}
.navigation-bar-list li span {
	line-height: 50px; /*x*/
	float: left;
	margin-left: 5px;
	color: #555;
}
.navigation-bar-list li.active span {
	color: #fff;
}
.icon-1 { background-image: url(../../../assets/img/nav/1.png); }
.icon-2 { background-image: url(../../../assets/img/nav/0.png); }
.icon-3 { background-image: url(../../../assets/img/nav/2.png); }
.icon-4 { background-image: url(../../../assets/img/nav/3.png); }
.icon-5 { background-image: url(../../../assets/img/nav/4.png); }
.icon-6 { background-image: url(../../../assets/img/nav/5.png); }
.icon-7 { background-image: url(../../../assets/img/nav/6.png); }

li.active .icon-1 { background-image: url(../../../assets/img/nav/a1.png); }
li.active .icon-2 { background-image: url(../../../assets/img/nav/a0.png); }
li.active .icon-3 { background-image: url(../../../assets/img/nav/a2.png); }
/*li.active .icon-4 { background-image: url(../../../assets/img/nav/a3.png); }
li.active .icon-5 { background-image: url(../../../assets/img/nav/a4.png); }
li.active .icon-6 { background-image: url(../../../assets/img/nav/a5.png); }
li.active .icon-7 { background-image: url(../../../assets/img/nav/a6.png); }*/

.home-page-content {
	width: 100%;
	height: 100%;
	overflow-y: auto;
}