<div class="home-page">
	<div class="navigation-bar">
		<div class="navigation-bar-top">
			<div class="user">
				<i class="user-icon"></i>
				<span>员工：admin</span>
			</div>
		</div>
		<div class="navigation-bar-list">
			<ul>
			  <li routerLink="shop">
		    	<div>
		    		<i class="icon-1"></i>
		    		<span>店内点单</span>
		    	</div>	
			  </li>
			  <li routerLink="table">
		    	<div>
		    		<i class="icon-2"></i>
		    		<span>餐区管理</span>
		    	</div>	
			  </li>
			  <li routerLink="order">
		    	<div>
		    		<i class="icon-3"></i>
		    		<span>在线订单</span>
		    	</div>	
			  </li>
			</ul>
		</div>
	</div>
	
	<div class="home-page-content">
		<router-outlet></router-outlet>
	</div>
</div>