<div class="home-page">
	<div class="navigation-bar">
		<div class="navigation-bar-top">
			<div class="user">
				<i class="user-icon"></i>
				<span>员工：admin</span>
			</div>
		</div>
		<div class="navigation-bar-list">
			<ul>
			  <li>
			    <a routerLink="shop">
			    	<div>
			    		<i class="icon-1"></i>
			    		<span>店内点单</span>
			    	</div>	
			    </a>
			  </li>
			  <li>
			    <a routerLink="table">
			    	<div>
			    		<i class="icon-2"></i>
			    		<span>餐区管理</span>
			    	</div>	
			    </a>
			  </li>
			  <li>
			    <a routerLink="order">
			    	<div>
			    		<i class="icon-3"></i>
			    		<span>在线订单</span>
			    	</div>	
			    </a>
			  </li>
			  <li>
			    <a routerLink="shop">
			    	<div>
			    		<i class="icon-4"></i>
			    		<span>会员管理</span>
			    	</div>	
			    </a>
			  </li>
			  <li>
			    <a routerLink="table">
			    	<div>
			    		<i class="icon-5"></i>
			    		<span>营销发券</span>
			    	</div>	
			    </a>
			  </li>
			  <li>
			    <a routerLink="order">
			    	<div>
			    		<i class="icon-6"></i>
			    		<span>销售统计</span>
			    	</div>	
			    </a>
			  </li>
			  <li>
			    <a routerLink="order">
			    	<div>
			    		<i class="icon-7"></i>
			    		<span>商家配置</span>
			    	</div>	
			    </a>
			  </li>
			</ul>
		</div>
	</div>
	
	<div class="home-page-content">
		<router-outlet></router-outlet>
	</div>
</div>