<app-page-header
  [title]="'工程列表'"
  ></app-page-header>

<div class="header">
  <span [class.active]="listType == 1" (click)="selectListType(1)">待我审批</span>
  <span [class.active]="listType == 3" (click)="selectListType(3)">我参与的</span>
</div>

<div class="search">
  <span>请选择筛选类型:</span>
  <div class="type_list">
    <select [(ngModel)]="type" (change)="select_type(type)">
      <option value="0">全部</option>
      <option value="1">报告</option>
      <option value="2">合同</option>
      <option value="3">项目</option>
    </select>
    <div class="i">
      <i></i>
    </div>
  </div>

  <!--<div class="text_search">-->
    <!--<input [(ngModel)]="searchText" type="text" placeholder="请输入搜索文件名" />-->
    <!--<div class="i" (click)="search(searchText)">-->
      <!--<i></i>-->
    <!--</div>-->
  <!--</div>-->
</div>

<div class="content page" *ngIf="workflows">
  <ul>
    <ng-container *ngFor="let workflow of workflows;let index = index;">
      <li (click)="detail(workflow)">
        <div class="name">
          <p class="number"><small>{{ workflow.app_uid }}</small></p>
          <p class="text">{{ workflow.app_pro_title }}</p>
        </div>
        <div class="time">{{ workflow.app_create_date }}</div>
      </li>
    </ng-container>
  </ul>
  <div *ngIf="canMore && workflows.length > 9">
    <div *ngIf="!isLoad" class="load" (click)="more()">加载更多</div>
    <div *ngIf="isLoad" class="load">加载中...</div>
  </div>
  <div *ngIf="!canMore" class="down">没有更多了</div>
  <div *ngIf="workflows.length == 0" class="down">{{ alert }}</div>
</div>
<div *ngIf="!workflows" class="down">{{ alert }}</div>
