<h4 class="text-center">工程详情</h4>
<div class="page">

  <div *ngIf="project" class="project">
    <div class="form-group">
      <label>工程名称：</label>
      <input disabled [value]="project.name" type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label>工程地点：</label>
      <input disabled [value]="project.place" type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label>联系人：</label>
      <input disabled [value]="project.contacts" type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label>电话：</label>
      <input disabled [value]="project.telephone" type="number" class="form-control" />
    </div>

    <div class="form-group">
      <label>合同编号：</label>
      <input disabled [value]="project.contract_number" type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label>委托单位：</label>
      <input disabled [value]="project.entrustment_unit" type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label>委托编号：</label>
      <input disabled [value]="project.entrustment_number" type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label>委托项目：</label>
      <input disabled [value]="project.entrustment_project" type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label>检测要求和依据：</label>
      <input disabled [value]="project.testing_requirements" type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label>委托方提供资料：</label>
      <input disabled [value]="project.information_of_the_client" type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label>任务完成部门：</label>
      <input disabled [value]="project.department" type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label>要求进场时间：</label>
      <input disabled [value]="project.approach" type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label>预计完成时间：</label>
      <input disabled [value]="project.complete" type="text" class="form-control" />
    </div>

    <div class="form-group">

    </div>


    <div class="approval_user">
      <shengxiang-user-select
        [editForm]="project"
        [text]="'部门负责人'"
        [userId]="project.person_in_charge"
        [key]="'person_in_charge'"
        [canEditUser]="false"
      ></shengxiang-user-select>

      <div class="approval">
        <div class="approval_option">
          审批意见:
          <div class="option">
            <span class="agree" *ngIf="project.is_person_in_charge_pass">同意</span>
            <span *ngIf="!project.is_person_in_charge_pass">待审批</span>

            <p class="remake">
              {{ project.person_in_charge_pass_remake }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="approval_user">
      <shengxiang-user-select
        [editForm]="project"
        [text]="'总(副总)经理'"
        [userId]="project.manager"
        [key]="'manager'"
        [canEditUser]="false"
      ></shengxiang-user-select>

      <div class="approval">
        <div class="approval_option">
          审批意见:
          <div class="option">
            <span class="agree" *ngIf="project.is_manager_pass">同意</span>
            <span *ngIf="!project.is_manager_pass">待审批</span>

            <p class="remake">
              {{ project.manager_pass_remake }}
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
