<h4 class="text-center">工程详情</h4>
<div class="page">

  <div *ngIf="project" class="project">
    <div class="form-group">
      <label>工程名称：</label>
      <input disabled [value]="project.name" type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label>工程地点：</label>
      <input disabled [value]="project.place" type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label>联系人：</label>
      <input disabled [value]="project.contacts" type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label>电话：</label>
      <input disabled [value]="project.telephone" type="number" class="form-control" />
    </div>

    <div class="form-group">
      <label>合同编号：</label>
      <input disabled [value]="project.contract_number" type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label>委托单位：</label>
      <input disabled [value]="project.entrustment_unit" type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label>委托编号：</label>
      <input disabled [value]="project.entrustment_number" type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label>委托项目：</label>
      <input disabled [value]="project.entrustment_project" type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label>检测要求和依据：</label>
      <input disabled [value]="project.testing_requirements" type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label>委托方提供资料：</label>
      <input disabled [value]="project.information_of_the_client" type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label>任务完成部门：</label>
      <input disabled [value]="project.department" type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label>要求进场时间：</label>
      <input disabled [value]="project.approach" type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label>预计完成时间：</label>
      <input disabled [value]="project.complete" type="text" class="form-control" />
    </div>

    <shengxiang-user-select
      [projectForm]="project"
      [text]="'部门负责人'"
      [userId]="project.person_in_charge"
      [key]="'person_in_charge'"
      [canEditUser]="false"
    ></shengxiang-user-select>

    <shengxiang-user-select
      [projectForm]="project"
      [text]="'总(副总)经理'"
      [userId]="project.manager"
      [key]="'manager'"
      [canEditUser]="false"
    ></shengxiang-user-select>

    <!--<shengxiang-user-select-->
    <!--[projectForm]="project"-->
    <!--[text]="'编制人'"-->
    <!--[userId]="project.author"-->
    <!--[key]="'author'"-->
    <!--[canEditUser]="false"-->
    <!--&gt;</shengxiang-user-select>-->

    <!--<shengxiang-user-select-->
    <!--[projectForm]="project"-->
    <!--[text]="'校核人'"-->
    <!--[userId]="project.checker"-->
    <!--[key]="'checker'"-->
    <!--[canEditUser]="false"-->
    <!--&gt;</shengxiang-user-select>-->

    <!--<shengxiang-user-select-->
    <!--[projectForm]="project"-->
    <!--[text]="'审核人'"-->
    <!--[userId]="project.examine"-->
    <!--[key]="'examine'"-->
    <!--[canEditUser]="false"-->
    <!--&gt;</shengxiang-user-select>-->

    <!--<shengxiang-user-select-->
    <!--[projectForm]="project"-->
    <!--[text]="'批准人'"-->
    <!--[userId]="project.leader"-->
    <!--[key]="'leader'"-->
    <!--[canEditUser]="false"-->
    <!--&gt;</shengxiang-user-select>-->

  </div>
</div>
